/* IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@500;600;900&display=swap");
@import url(../assets/jpg/igt-banner2.png);

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
}

/* DEFAULT */

:root {
  --color-white-1: #fff;
  --color-white-2: #ffffff7e;
  --color-white-3: #ffffffbb;
  --color-white-4: #ffffffc9;

  --color-steel-gray-1: #28243c;
  --color-steel-gray-2: #23212e80;
  --color-mine-shaft-1: #272727;
  --color-mine-shaft3-2: #2d2d2d;
  --color-mine-shaft-3: #343434;
  --color-cod-gray-1: #1c1c1c;
  --color-tundora-1: #414141;

  --color-milan-1: #fcffa6;

  --color-persian-indigo: #39167ab2;
  --color-purple-heart-1: #7b3de081;
  --color-purple-heart-2: #6f38d4;
  --color-purple-heart-3: #7b3de0;
  --color-medium-purple-1: #7949dd;
  --color-heliotrope-1: #be86ff71;
  --color-east-side-1: #a18fc7;
  --color-mirage-1: #1f1a31;
  --color-mirage-2: #151728;
  --color-jacarta-1: #4a2872;

  --color-linear-gradient-1: linear-gradient(
    -45deg,
    #6c3ea5,
    #7e63e1,
    #6e19d6,
    #a861ff
  );
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: -10vw;
  }
}

@keyframes hideSidebar {
  from {
    margin-left: -10vw;
  }
  to {
    margin-left: -100vw;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  background-color: var(--color-steel-gray-1);
  color: var(--color-white-1);
}

@media screen and (max-width: 362px) {
  body {
    width: fit-content;
  }

  .voting-form {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

main {
  text-align: center;
  transition: 1s;

  padding: 6em 0 3em 0;
  height: 100vh;
}

/* HEADER */
.header,
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  z-index: 10;
}

.header {
  justify-content: space-between;
  padding: 5px 5%;
  margin-top: -0.1em;
  position: fixed;
  top: 0;

  height: 3.8em;
  width: 100%;

  background-color: var(--color-mirage-1);
  box-shadow: 0 8px 24px 0 var(--color-mirage-1);
}

.header-blur-bg {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  height: 500vh;
  width: 500vh;
  z-index: 9;
}

.img-logo-header {
  width: auto;
  height: 3.5em;

  filter: invert(1);
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 120px;

  list-style: none;
  overflow: hidden;
}

.navbar-items li {
  margin-bottom: 1rem;
  margin: auto 10px;

  justify-content: center;
  display: flex;
  float: left;
}

.navbar-items li a,
.navbar-items li span {
  display: block;
  transition: 1s;
  margin: 8px;

  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: var(--color-heliotrope-1);
}

.navbar-items li a:hover {
  color: var(--color-white-2);
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 8px;
  width: 125px;
  border-radius: 10px;

  background: var(--color-jacarta-1);
}

.btn-icon-header {
  display: none;
  border: none;
  cursor: pointer;

  background: transparent;
  color: var(--color-white-2);
}

@media screen and (max-width: 768px) {
  .navbar {
    position: absolute;
    flex-direction: column;

    top: 0;
    height: 100vh;
    width: 35vw;
    padding: 1em;
    margin-left: -100vh;

    overflow: hidden;
    position: fixed;

    animation-duration: 1s;
    background: var(--color-mirage-1);
    box-shadow: 0 8px 24px 0 var(--color-mirage-1);
  }

  .navbar-items {
    flex-direction: column;
    margin: 10px 0 0 20px;

    z-index: 4;
  }

  .navbar-items li {
    margin: 20px 0 0 0;
  }

  .active {
    padding: 8px;
    width: 30vw;
    border-radius: 10px;
  }

  .navbar-items li span {
    text-align: center;
    margin: 0 10px 0;
  }

  .img-logo-header {
    margin-right: 40px;
  }

  .btn-icon-header {
    display: block;
    margin: 0 0 0 20px;
  }
}

/* HOME - PRIZES SECTION*/

.home-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px -32px 24px var(--color-mirage-2);

  margin-top: -2em;
}

.home-header .header-image {
  background: url(../assets/jpg/igt-banner2.png) no-repeat fixed center;
  background-size: cover;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  min-height: 650px;
}

.home-header .header-title {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  top: 0%;

  margin-top: 7em;
  border-radius: 10px;
}

.home-header .header-title h1 {
  font-size: 90px;
}

.home-header .header-title #header-title-1 {
  color: var(--color-milan-1);
  font-weight: 900;
  font-size: 135px;
}

.home-header .header-title #header-title-2 {
  color: var(--color-medium-purple-1);
  letter-spacing: 0;
  font-weight: 500;

  margin-top: -60px;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.header-links a {
  text-decoration: underline;
  font-weight: 600;
  font-size: 24px;

  color: var(--color-white-1);

  text-shadow: 0px 8px 24px 0px black;
  padding: 3px 10px 3px 10px;
  /* background-color: #8251bb85; */
}

.header-description {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 25px;
  margin-top: 5em;
}

.header-description span {
  color: var(--color-medium-purple-1);
}

.header-description span span {
  color: var(--color-milan-1);
}

.home-section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 2em;
  gap: 1em;
}

.section-heading {
  margin-bottom: 1em;
  font-size: 16px;
}

.prizes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.prizes-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  height: auto;
  padding-bottom: 20px;
  width: 300px;
  border-radius: 15px;
  background: var(--color-linear-gradient-1);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  box-shadow: 0px 8px 24px 0px var(--color-mirage-2);
}

.prizes-item .prize-img img {
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 240px;
  width: auto;
  box-sizing: border-box;
}

/* HOME - SCHEDULE SECTION */
.home-section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}

.home-section-two .schedules {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

/* HOME - SOCIAL MEDIA SECTION */

.home-section-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 3em;
}

.instagram-socialmedia {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.instagram-socialmedia .instagram-img img {
  box-shadow: 0px 8px 24px 0px var(--color-mirage-2);
  height: 90px;
  width: auto;
  border-radius: 50%;
  margin-right: 20px;
}

.instagram-label {
  margin-top: 5px;
}

.instagram-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 350;
  font-size: 23px;
  margin-right: 100px;
}

.instagram-follow a {
  text-decoration: none;
}

.instagram-follow a button {
  margin-top: 20px;
  border-radius: 7px;
  width: 230px;
  height: 35px;
  display: block;
  background-color: var(--color-purple-heart-3);
  border: none;
  box-shadow: 0px 8px 24px 0px var(--color-jacarta-1);
  color: var(--color-white-3);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .home-header .header-image {
    background-position-y: 0px;

    margin-bottom: -3em;
    min-height: 80vh;
  }

  .home-header .header-title h1 {
    padding: 20px;
    font-size: 50px;
  }

  .home-header .header-title #header-title-1 {
    color: var(--color-milan-1);
    font-size: 80px;
  }

  .home-header .header-title #header-title-2 {
    color: var(--color-medium-purple-1);
    letter-spacing: 0;

    margin-top: -70px;
  }

  .header-links a {
    font-size: 16px;
  }

  .header-description {
    font-size: 20px;
  }

  .prizes {
    flex-direction: column;
    gap: 3em;
  }

  .home-section-one {
    margin-bottom: -2em;
  }

  .prizes-heading {
    margin-bottom: 1em;
    margin-top: 4em;
    font-size: 16px;
  }

  .socialmedia-heading {
    margin-bottom: 1em;
    font-size: 16px;
  }

  .schedule-heading {
    margin-top: 5em;
    margin-bottom: 1em;
    font-size: 16px;
  }

  .home-section-two .schedules {
    flex-direction: column;
    gap: 1em;
  }

  .schedules-item span {
    font-size: 16px;
  }
}

@media screen and (max-height: 700px) {
  .header-description {
    margin-bottom: 40px;
  }
}

/* VOTAÇÃO DEFAULT */

.voting-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.voting-form h1 {
  margin-bottom: 30px;

  color: rgba(255, 255, 255, 0.7);
}

.voting-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 10em 0 10em;
  gap: 1em;
}

.participant-card {
  text-align: center;
  display: none;
  margin: auto;
  height: auto;
  width: 300px;
  margin-bottom: 50px;
  border-radius: 15px;
  background: var(--color-linear-gradient-1);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  box-shadow: 0px 8px 24px 0px var(--color-mirage-2);
  color: var(--color-white-3);
}

.participant-card img {
  border-radius: 15px;
  margin-top: 30px;
  height: 240px;
  width: auto;
  box-sizing: border-box;
}

.participant-card #name {
  margin-top: 10px;
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}

.participant-card #category {
  margin-top: 2px;
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.participant-card #talent-info {
  margin-top: 20px;
  display: block;
  font-size: 13px;
  font-weight: bold;
}

.participant-card label {
  display: flex;
}

#radio-label {
  display: block;
  margin: 0;
  position: relative;
}

#radio-label span {
  margin-right: 5px;
}

#radio-label span.radio-label-select-button {
  all: unset;
  margin-top: 10px;
  margin-right: 0;
  border: none;
  height: 45px;
  width: 270px;
  outline: none;
  border-radius: 9px;
  display: inline-flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--color-purple-heart-1);
  font-size: 20px;
  box-shadow: 1px 1px 10px var(--color-jacarta-1);
  color: var(--color-white-2);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

#radio-label input {
  display: none;
}

#radio-label input:checked + span.radio-label-select-button {
  color: var(--color-white-4);
  background-color: var(--color-persian-indigo);
}

#send-vote {
  all: unset;
  margin-top: 10px;
  border: none;
  height: 60px;
  width: 270px;
  outline: none;
  border-radius: 50px;
  display: inline-block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--color-purple-heart-3);
  font-size: 20px;
  box-shadow: 0px 8px 24px 0px var(--color-jacarta-1);
  color: var(--color-white-3);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 50px;
}

#send-vote:hover {
  background-color: var(--color-purple-heart-2);
  color: var(--color-white-1);
}

@media screen and (max-width: 768px) {
  .participant-card {
    gap: 0px;
  }

  .voting-area {
    flex-direction: column;
    margin: 0;
  }
}

/* PATROCINADORES */

/* MEDIASTOCK */

.mediastock-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 2em;
}

.mediastock-header a {
  text-decoration: underline var(--color-medium-purple-1);
  color: var(--color-white-1);
  font-size: 36px;
  font-weight: 900;
}

.mediastock-header span span:nth-child(1) {
  color: var(--color-milan-1);
}

.mediastock-header span span:nth-child(2) {
  color: var(--color-medium-purple-1);
}

.mediastock-videos,
.mediastock-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2em;
}

.mediastock-img {
  cursor: pointer;
  height: 270px;
  width: auto;

  border-radius: 15px;
  box-shadow: 0 8px 12px 0 var(--color-mirage-2);
}

.mediastock-images-grid {
  height: 270px;
  width: 360px;
  gap: 0.5em;
}

.mediastock-grid-img {
  height: 133px;
  width: auto;

  border-radius: 15px;
  box-shadow: 0 8px 12px 0 var(--color-mirage-2);
}

.media-background {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  height: 500vh;
  width: 500vh;
  background-color: rgba(0, 0, 0, 0.877);
  z-index: 11;
}

.media-bg-opened {
  display: block;
}

.opened-img {
  box-shadow: none;
  height: 700px;
  width: auto;
  z-index: 12;

  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 15%;
  text-align: center;
}

.mediastock-images-grid .opened-img {
  z-index: 12;
  height: 700px;
  width: auto;
  box-shadow: none;

  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 15%;
  text-align: center;
}

.cursor-pointer-svg {
  transform: translate(6.25em, -1.1875em) rotate(-15deg);
  margin-bottom: -1.5625em;
}

@media screen and (max-width: 768px) {
  .mediastock-header a {
    font-size: 28px;
  }

  .mediastock-videos,
  .mediastock-images {
    flex-direction: column;
  }

  .opened-img {
    height: 17em;
    top: 30%;
  }

  .mediastock-images-grid .opened-img {
    height: 17em;
    top: 30%;
  }

  .cursor-pointer-svg {
    transform: translate(6.25em, -1.1875em) rotate(-15deg);
    margin-bottom: -2.1875em;
  }
}

/* FOOTER */
