
/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@500;600;900&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

/* DEFAULT */

:root {
  --color-white: #fff;
  --color-white-hover: #ffffff7e;
  --color-bg-color:#28243c;
  --color-bg-color2:rgba(35, 33, 46, 0.5);
  --color-dark1: #272727;
  --color-dark2: #2d2d2d;
  --color-dark3: #414141;
  --color-dark4: #1c1c1c;
  --color-dark5: #343434;
  --color-purple: #be86ff71;
  --color-purple2: #1f1a31;
  --color-dark-purple: #151728;
  --color-purple-shadow: #4a2872;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: -10vw;
  }
}

@keyframes hideSidebar {
  from {
    margin-left: -10vw;
  }
  to {
    margin-left: -100vw;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;  
  font-weight: 600;
  background-color: var(--color-bg-color);
  color: var(--color-white);
}

main {
  text-align: center;
  transition: 1s;

  padding: 3em 0 3em 0;
  height: 100vh;
}

/* HEADER */
.header,
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  z-index: 10;
}

.header {
  justify-content: space-between;
  padding: 5px 5%;
  margin-top: -.1em;
  position: fixed;
  top: 0;

  height: 3.8em;
  width: 100%;
  
  background-color: var(--color-purple2);
  box-shadow: 0 8px 24px 0 var(--color-purple2);
}

.img-logo-header {
  width: auto;
  height: 3.5em;

  filter: invert(1);
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;

  list-style: none;
  overflow: hidden;
}

.navbar-items li {
  margin-bottom: 1rem;
  margin: auto 10px;
  
  justify-content: center;
  display: flex;
  float: left;
}

.navbar-items li a,
.navbar-items li span {
  display: block;
  transition: 1s;
  margin: 8px;

  text-decoration: none;
  font-weight: bold;
  color: var(--color-purple);
}

.navbar-items li a:hover {
  color: var(--color-white-hover);
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  padding: 8px;
  width: 125px;
  border-radius: 10px;

  background: var(--color-purple-shadow);
}

.btn-icon-header {
  display: none;
  border: none;
  cursor: pointer;

  background: transparent;
  color: var(--color-white-hover);
}

@media screen and (max-width: 768px) {
  .navbar {
    position: absolute;
    flex-direction: column;

    top: 0;
    height: 100vh;
    width: 35vw;
    padding: 1em;
    margin-left: -100vh;

    overflow: hidden;
    position: fixed;
    
    
    animation-duration: 1s;
    background: var(--color-purple2);
    box-shadow: 0 8px 24px 0 var(--color-purple2);
  }  
  
  .navbar-items {
    flex-direction: column;
    margin: 10px 0 0 20px;

    z-index: 4;
  }

  .navbar-items li {
    margin: 20px 0 0 0;
  }

  .navbar-items li span {
    text-align: center;
    margin: 0 10px 0;
  }

  .img-logo-header {
    margin-right: 40px;
  }

  .btn-icon-header {
    display: block;
    margin: 0 0 0 20px;
  }
}

/* HOME */

.home-bg-1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
   
}

.home-bg-1 .bg-1-image {
  position: relative;
  
  margin-top: -3em; 
  background: url(../assets/jpg/igt-banner.jpg) no-repeat fixed center; 
  background-size: cover;

  width: 100%;
  min-height: 650px;
  opacity: .2;
}

.home-bg-1 .bg-1-h1 {
  position: absolute;
  text-align: center; 
  width: 40%;
  
  border-radius: 10px;
}

.home-bg-1 .bg-1-h1 h1 {
  /* padding: 20px; */
  font-size: 100px;
}

.home-bg-1 .bg-1-h1 h1:nth-child(1) {
  color: #fcffa6;
  font-weight: 900;
  font-size: 110px;
}

.home-bg-1 .bg-1-h1 h1:nth-child(2) {
  color:#7949dd;
  letter-spacing: 0;
  font-weight: 500;

  margin-top: -60px;
}

.home-section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  margin-top: 2em;
}

.prizes-heading {
  margin-bottom: 1em;
  font-size: 25px;
}

.prizes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10em;
}

.prizes-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  height: auto;
  padding-bottom: 20px;
  width: 300px;
  margin-bottom: 50px;
  border-radius: 15px;
  background: linear-gradient(-45deg, #6c3ea5, #7e63e1, #6e19d6, #a861ff);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  box-shadow: 0px 8px 24px 0px var(--color-dark-purple);
}

.prizes-item .prize-img img {
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 240px;
  width: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .home-bg-1 .bg-1-image {
    background-position-x: -600px;

    min-height: 650px;
    opacity: .2;
  }
  
  .home-bg-1 .bg-1-h1 {
    width: 90%;
  }
  
  .home-bg-1 .bg-1-h1 h1 {
    padding: 20px;
    font-size: 60px;
  }
  
  .home-bg-1 .bg-1-h1 h1:nth-child(1) {
    color: #fcffa6;
    font-size: 90px;
  }
  
  .home-bg-1 .bg-1-h1 h1:nth-child(2) {
    color:#7949dd;
    letter-spacing: 0;
  
    margin-top: -70px;
  }
  
  .prizes-heading {
    margin-bottom: 1em;
    font-size: 20px;
  }

  .prizes {
    flex-direction: column;
    gap: 0;
  }
}

/* VOTAÇÃO DEFAULT */

.voting-form h1 {
  margin-bottom: 30px;
  margin-top: -20px;

  color: rgba(255, 255, 255, 0.7);
}

.voting-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  margin: 0 10em 0 10em;
  gap: 1em;
}

.participant-card {
  text-align: center;
  display: none;
  margin: auto;
  height: auto;
  width: 300px;
  margin-bottom: 50px;
  border-radius: 15px;
  background: linear-gradient(-45deg, #6c3ea5, #7e63e1, #6e19d6, #a861ff);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  box-shadow: 0px 8px 24px 0px var(--color-dark-purple);
}

@media screen and (max-width: 768px) {
  .participant-card {
    gap: 0px;
  }

  .voting-area { 
    flex-direction: column;
    margin: 0;
  }
}

.participant-card img {
  border-radius: 15px;
  margin-top: 30px;
  height: 240px;
  width: auto;
  box-sizing: border-box;
}

.participant-card #name {
  margin-top: 10px;
  display: block;
  color: #ffffff7e;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}

.participant-card #category {
  margin-top: 2px;
  display: block;
  font-size: 15px;
  color: #ffffff7e;
  font-weight: bold;
}

.participant-card #talent-info {
  margin-top: 20px;
  display: block;
  font-size: 13px;
  color: #ffffff7e;
  font-weight: bold;
}

.participant-card label {
  display: flex;
}

#radio-label {
  display: block;
  position: relative;
}

#radio-label span {
  all: unset;
  margin-top: 10px;
  border: none;
  height: 45px;
  width: 270px;
  outline: none;
  border-radius: 9px;
  display: inline-flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #7b3de081;
  font-size: 20px;
  box-shadow: 1px 1px 10px var(--color-purple-shadow);
  color: #ffffff7e;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

#radio-label input {
  display: none;
}

#radio-label input:checked + span {
  color: #ffffffc9;
  background-color: #39167ab2;  
}

#send-vote {
  all: unset;
  margin-top: 10px;
  border: none;
  height: 60px;
  width: 270px;
  outline: none;
  border-radius: 50px;
  display: inline-block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #7b3de0;
  font-size: 20px;
  box-shadow: 0px 8px 24px 0px var(--color-purple-shadow);
  color: #ffffff7e;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 50px;
}

#send-vote:hover {
  background-color: #6f38d4;
  color: white;
}

/* REDES SOCIAIS */

.instagram-socialmedia {
  margin-top: 3.5em;
  display: flex;
  justify-content: center;
}

.instagram-socialmedia .instagram-img img {
  box-shadow: 0px 8px 24px 0px var(--color-dark-purple);
  height: 90px;
  width: auto;
  border-radius: 50%;
  margin-right: 20px;
}

.instagram-label {
  margin-top: 5px;
}

.instagram-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 350;
  font-size: 23px;
  margin-right: 100px;
}

.instagram-href {
  text-decoration: none;
}

.instagram-button {
  margin-top: 20px;
  border-radius: 7px;
  width: 230px;
  height: 35px;
  display: block;
  background-color: #7b3de0;
  border: none;
  box-shadow: 0px 8px 24px 0px var(--color-purple-shadow);
  color: #ffffffbb;
  cursor: pointer;
}

/* PATROCINADORES */

/* FOOTER */